@media screen and (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  header {
    flex-direction: column-reverse;
    row-gap: 5rem;
    padding-top: 1rem;
  }
  
  .hero-img {
    border-radius: 40%;
    width: 70%;
    max-width: 250px;
    height: 250px;
    align-self: flex-start;
    z-index: 3;
  }
  
  .about-me {
    width: 70%;
    margin: 0 1rem;
    align-self: flex-end;
  }
  
  main {
    height: auto;
  }
  
  main>h1 {
    position: relative;
  }
  
  
  .my-projects {
    display: grid;
    grid-template: repeat(6, 350px) / 1fr;
    row-gap: 1rem;
  }
  
  footer {
    height: auto;
    flex-direction: column;
  }
  
  .footer-img {
    max-width: 300px;
  }
}