*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --uri-lg-fsz: clamp(20px, calc(4vw + 10px), 60px);
    --uri-avg-fsz: max(1rem, calc(1.5vw + 4px));
    --uri-sm-fsz: max(14px, calc(1vw + 2px));
    --uri-black: #000;
    --uri-white: #fff;
    --uri-gray: #12121eaa;
    --uri-dk-blue: #011642;
    --uri-dk-trans: #00000034;
}

body {
    display: grid;
    grid-template-rows: 100vh calc(100vh + 300px) 100vh;
    gap: 3rem;
}

header {
    grid-area: 1 / 1 / 2 / 2;
    background: var(--uri-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

header * {
    z-index: 2;
}

h1 {
    font-size: var(--uri-lg-fsz) !important;
}

.hero-img {
    max-width: 40%;
    max-height: 500px;
    z-index: 2;
}

.about-me {
    background-color: var(--uri-white);
    padding: 2rem;
    box-shadow: 3px 3px 5px var(--uri-gray);
    position: sticky;
    top: 0.5rem;
}

.about-me>p {
    font-size: var(--uri-avg-fsz);
}

main {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    max-width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main>h1 {
    align-self: flex-start;
    padding: 1rem;
}

.my-projects {
    display: grid;
    grid-template: repeat(2, max(350px, 30vh)) / repeat(3, 1fr);
    gap: 3rem;
    width: 100%;
}

.my-projects>div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 4px var(--uri-gray);
}

.my-projects>div:hover {
    transform: scale(1.1);
}

.my-projects>div>img {
    width: 100%;
}

.my-projects>div>section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-size: var(--uri-sm-fsz);
    padding: 0 1rem;
    text-align: center;
}

.view-icon {
    display: flex;
    gap: 16px;
}

.icon-link {
    text-decoration: none;
    color: var(--uri-black);
    padding: 0.5rem;
    font-size: var(--uri-avg-fsz);
}

.icon-link:hover {
    transform: scale(1.3);
    color: var(--uri-dk-blue);
}

.icon-link:active {
    background-color: var(--uri-gray);
    color: var(--uri-white);
}

.icon-link:visited {
    color: var(--uri-gray);
}

footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--uri-dk-trans);
    padding: 1rem;
    position: relative;
    
}

.footer-img {
    width: 30%;
}

footer li {
    list-style: none;
}

footer>p {
    position: absolute;
    bottom: 8px;
    font-size: var(--uri-avg-fsz);
    font-weight: 700;
}

.collab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.collab * {
    font-size: var(--uri-avg-fsz);
}

address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.icon {
    display: flex;
}




/* Some minute responsiveness */

@media screen and (min-width: 1080px) {
    .about-me {
        max-width: 500px;
    }
    
    header::before {
        content: " ";
        width: 200px;
        height: 100vh;
        position: absolute;
        background-color: var(--uri-white);
        top: 0;
        left: 200px;
        z-index: 1;
        transform: skew(40deg);
    }

    main>h1 {
        background-color: var(--uri-white);
        position: sticky;
        top: 0.5rem;
        box-shadow: 3px 3px 5px var(--uri-gray);
    }
    
    .footer-img {
        max-width: 500px;
    }
}